@* --------------------------------------------------------------------*@
@* Warning! This is an auto generated file. Changes may be overwritten *@
@* --------------------------------------------------------------------*@
@using Localization
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = @$"{SharedLocalizer.GetLocalizedHtmlString("ErrorHeader")}";
}

<h1>@SharedLocalizer.GetLocalizedHtmlString("ErrorHeader")</h1>
<p>@SharedLocalizer.GetLocalizedHtmlString("ErrorDescription")</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
