@using Localization
@using Microsoft.Extensions.Options
@using OnlinePayment.Logic.Settings
@inject IOptions<KohaApiSettings> settings
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = @$"{SharedLocalizer.GetLocalizedHtmlString("PaidHeader")}";
}

<h1>@SharedLocalizer.GetLocalizedHtmlString("PaidHeader")</h1>
<p>@Html.Raw(string.Format(SharedLocalizer.GetLocalizedHtmlString("PaidDescription"), settings.Value.OpacHost))</p>
<p>@SharedLocalizer.GetLocalizedHtmlString("MoreInfo")</p>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
