@using Localization
@using OnlinePayment.Logic.Settings
@using Microsoft.Extensions.Options
@using OnlinePayment.Web.ViewModel
@inject IOptions<ApplicationSettings> settings
@model PayViewModel

<h2>Payment</h2>

<span id="paymentId">@Model.Status</span>
<span id="session">@Model.Session</span>
<input id="applicationName" type="hidden" value="@settings.Value.Name" />