@using Localization
@using OnlinePayment.Logic.Settings
@using Microsoft.Extensions.Options
@using OnlinePayment.Web.ViewModel
@inject IOptions<ApplicationSettings> settings
@model PayViewModel

<h2>Wait</h2>

