<?xml version="1.0" encoding="utf-8"?>
<!--
  Vid publish injicerar .NET SDK:n automatiskt ASP.NET Core Module-sektionen
  (handlers + processPath m.m.); environmentVariables nedan bevaras.
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <aspNetCore>
        <environmentVariables>
          <environmentVariable name="Encryption__KeyFile" value="C:\ProgramData\ShAuth\encryption.key" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
